@import '../../styles/mixins';
@import '../../styles/custom-variables';

.my-column {
  padding: 56px 160px 64px 160px;
  position: relative;

  .column-option {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
    margin-bottom: 56px;

    .item-option {
      background-color: $black-base;
      padding: 24px 8px;
      text-align: center;
      position: relative;

      .title {
        @include font-face(normal, 400, 22px, 27px, $bright-orange);
        margin-bottom: 10px;
      }

      .sub-border {
        height: 1px;
        width: 56px;
        background-color: $white;
        position: absolute;
        bottom: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      .sub-title {
        @include font-face(normal, 300, 18px, 26px, $white);
      }
    }
  }

  .detail-column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 18px 8px;
    margin-bottom: 28px;
    cursor: pointer;

    .column-item {
      .img-box {
        position: relative;
        height: 80%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        span {
          @include font-face(normal, 400, 15px, 18px, $white);
          padding: 7px 10px 7px 8px;
          background: $bright-orange;
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
      .sub-title {
        margin-top: 8px;
        @include font-face(normal, 300, 15px, 22px, $dark-gray);
      }
      .title {
        @include font-face(normal, 300, 12px, 22px, $bright-orange-1);
      }
    }
  }

}