
@import './mixins';
@import './custom-variables';

.button-box {
  text-align: center;
  .more-button {
    width: 296px;
    height: 56px;
    background: linear-gradient(33deg, #FFCC21 0%, #FF963C 100%);
    border: unset;
    border-radius: 8px;
    @include font-face( normal, 300, 18px, 26px, $white);
    cursor: pointer;
  }
}