@import '../../styles/mixins';
@import '../../styles/custom-variables';

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 160px;
  background: $dark-gray;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  .logo-img {
    cursor: pointer;
  }
  .header-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .header-button {
      margin-left: 24px;
      display: flex;
      align-items: center;
      border: unset;
      background: transparent;
      box-shadow: none;
      span {
        @include font-face( normal, 300, 16px, 23px, $white);
      }
      &:hover {
        span {
          color: $bright-orange-1;
        }
      }
    }
  }
}

.ant-popover {
  .ant-popover-arrow {
    display: none;
  }
  .ant-popover-content {
    .ant-popover-inner {
      background-color: $gray-base;
      padding: 0;
      .ant-popover-inner-content {
        .box-menu {
          .item {
            padding: 0 32px;
           width: 280px;
            height: 72px;
            @include font-face( normal, 300, 18px, 26px, $white);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-bottom: 1px solid #2E2E2E;
            &:last-child {
              border-bottom: unset;
            }
          }
        }
      }
    }
  }
}